1. First you should look at the differences in churn rates, split by the different categorical
variables. Produce the appropriate visualisation to compare the average churn rate, split by:

i. Geography

ii. Gender

iii. Tenure

For maximum marks, make sure plots are correctly labelled.

In [13]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [3]:
table = pd.read_csv('churn_data.csv', sep=',')

In [4]:
table.head(10)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0

In [5]:
table_clean = pd.read_csv('churn_data_clean.csv',sep=',')

In [6]:
table_clean.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619.0,France,Female,42.0,2.0,0.00,1.0,1.0,1.0,101348.88,1
1,608.0,Spain,Female,41.0,1.0,83807.86,1.0,0.0,1.0,112542.58,0
2,502.0,France,Female,42.0,8.0,159660.80,3.0,1.0,0.0,113931.57,1
3,699.0,France,Female,39.0,1.0,0.00,2.0,0.0,No information available,93826.63,0
4,850.0,Spain,Female,43.0,2.0,125510.82,1.0,1.0,1.0,79084.10,0

In [41]:
group_geo = table_clean.groupby('Geography').mean().reset_index()

In [42]:
group_geo.head()

,Geography,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Exited
0,France,649.520635,38.481406,5.212698,63008.894150,1.513832,99346.967475,0.155329
1,Germany,650.948660,39.830077,5.233530,119244.740473,1.492958,100583.424537,0.317129
2,No information available,654.867052,39.231214,5.323699,71428.356590,1.647399,101524.658035,0.150289
3,Spain,650.043159,38.843893,5.260331,62398.173701,1.534894,99144.078512,0.160698

In [45]:
group_geo.head()

,Geography,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Exited
0,France,649.520635,38.481406,5.212698,63008.894150,1.513832,99346.967475,0.155329
1,Germany,650.948660,39.830077,5.233530,119244.740473,1.492958,100583.424537,0.317129
3,Spain,650.043159,38.843893,5.260331,62398.173701,1.534894,99144.078512,0.160698

Dropping the 'no information available' row

In [44]:
group_geo.drop(2,axis=0, inplace= True)

In [16]:
group_gender = table_clean.groupby('Gender').mean().reset_index()

In [48]:
group_gender.head()

,Gender,CreditScore,Age,Tenure,Balance,NumOfProducts,EstimatedSalary,Exited
0,Female,650.099285,39.269781,5.211588,75978.855975,1.520674,100168.420054,0.244257
1,Male,650.397497,38.707195,5.253597,77830.880177,1.509489,99029.078249,0.157247

Dropping the 'no information available' row

In [47]:
group_gender.drop(2,axis=0, inplace= True)

In [17]:
group_tenure = table_clean.groupby('Tenure').mean().reset_index()

In [12]:
group_tenure.head()

,CreditScore,Age,Balance,NumOfProducts,EstimatedSalary,Exited
Tenure,,,,,,
1.0,648.831074,39.458811,79701.392231,1.472367,99813.383747,0.223149
2.0,652.080247,39.018519,77816.235072,1.559671,97491.175773,0.182099
3.0,650.642251,39.010616,78676.227091,1.508493,97441.661395,0.202760
4.0,650.899573,38.242521,73855.326271,1.509615,99668.267114,0.200855
5.0,650.469602,39.288260,77064.544591,1.530398,101457.849976,0.197065

In [49]:
fig = make_subplots(rows=1, cols=3, subplot_titles=('Geography',  'Gender', 'Tenure'))

fig.add_trace(
    go.Scatter(x=group_geo['Geography'], y = group_geo['Exited'], mode = 'markers' ),
    row=1, col=1
)

fig.add_trace(
    go.Scatter(x=group_gender['Gender'], y= group_gender['Exited'], mode = 'markers' ),
    row=1, col=2
)

fig.add_trace(
    go.Scatter(x=group_tenure['Tenure'],y= group_tenure['Exited'], mode = 'markers' ),
    row=1, col=3
)

fig.update_layout(height=600, width=800, title_text="Average Churn Rate")
fig.show()